html,
body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    background: linear-gradient(-180deg, rgb(21, 21, 21) 0%, rgb(12, 12, 12) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboard {
    background-color: #222222;
    background-size: cover;
}

.dashboard h2 {
    color: aliceblue;
}


header {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #222222;
}

.form-link span {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.line::before {
    background-color: #222222;
}

a.google {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #222222;
}