html,
body {
    margin: 0;
    padding: 0;
    background: rgb(232, 252, 255);
    background: linear-gradient(0deg, rgba(232, 252, 255, 1) 0%, rgba(207, 252, 255, 1) 50%, rgba(127, 233, 255, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboards {
    padding: 20px 50px;
    text-align: center;
    height: auto;
    width: 40%;
}

.dashboard {
    padding: 5px;
    border-radius: 5px;
    background-color: #f0ffff;
    background-size: cover;
}